<?xml version='1.0' encoding='utf-8' ?>
<plugin id="bais-plugin-amact" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
	<name>amactplugin</name>
	<description></description>
	<engines>
        	<engine name="cordova" version=">=4.1.1"/>
    	</engines>
	<js-module name="amactplugin" src="www/amactplugin.js">
		<clobbers target="amactplugin" />
	</js-module>
	<platform name="android">
		<config-file parent="/*" target="res/xml/config.xml">
			<feature name="amactplugin">
				<param name="android-package" value="com.bais.amactplugin.amactplugin" />
			</feature>
		</config-file>

		<config-file target="AndroidManifest.xml" parent="/manifest/application">
		    <activity android:configChanges="orientation|keyboardHidden|keyboard|screenSize|locale" 
			  android:exported="true" 
			  android:label="@string/activity_name" 
			  android:launchMode="singleTop" 
			  android:name="cl.kunder.webview.WebViewActivity" 
			  android:screenOrientation="portrait" 
			  android:theme="@android:style/Theme.Black.NoTitleBar" 
			  android:windowSoftInputMode="adjustResize" />
            	     </activity>
		</config-file>

		<config-file parent="/manifest" target="AndroidManifest.xml">
			<uses-permission android:name="android.permission.INTERNET" />
			<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
			<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
			<uses-permission android:name="android.permission.WRITE_SETTINGS"/>
			<uses-permission android:name="android.permission.CAMERA"/>
		</config-file>
		
		<source-file src="src/android/amactplugin.java" target-dir="src/com/bais/amactplugin/" />
		<source-file src="src/android/WebViewActivity.java" target-dir="src/com/bais/amactplugin/" />
	</platform>

	<!-- browser -->
	  <platform name="browser">
	    <config-file target="config.xml" parent="/*">
		<feature name="WebViewPlugin">
		    <param name="browser-package" value="WebViewPluginProxy" />
		</feature>
	    </config-file>

	    <js-module src="src/browser/WebViewPluginProxy.js" name="WebViewPluginProxy">
		<runs />
	    </js-module>
	  </platform>

</plugin>
